<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        View Attendance
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-md-4">
            <label>
              Select Month
            </label>
            <select
              class="form-control"
              [(ngModel)]="selectedMonth">
              <option
                *ngFor="let month of months;">
                {{month}}
              </option>
            </select>
          </div>
          <div class="col-md-8">
            <label>
              Search Staff
            </label>
            <input
              type="text"
              class="form-control mb-3"
              [(ngModel)]="searchString"
              placeholder="Type to filter the name column..."
              required>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <div class="no-more-tables">
          <table class="table table-bordered table-striped mb-0">
            <thead>
            <tr>
              <th>Date</th>
              <th>Name of Staff</th>
              <th>Type</th>
              <th>Absent/Present/Leave</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td data-title="Date">

              </td>
              <td data-title="Name of Staff">

              </td>
              <td data-title="Type">

              </td>
              <td class="Absent/Present/Leave">

              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
