<div style="background-color: #f5f5f5"></div> 
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				View library Fine
			</div>
			<div class="card-block">
				<div class="no-more-tables">
					<table class="table table-bordered table-striped mb-0">
						<thead>
							<tr>
								<th>
									Late Fees Submission fine
								</th>
								<th>
									mode of Fine
								</th>
								<th>
									Book loss fine 
								</th>
								<th>
									Action
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td data-title="Fine">
									late fine
								</td>
								<td data-tltle="mode">
									per week
								</td>
								<td data-title="Fine">
									lost Fine
								</td>
								<td data-title="Action">
									<button type="button"
									class="btn btn-success pointer"
									><i class="fa fa-eye"></i>	
								</button>
								<button type="button"
								class="btn btn-danger pointer"
								><i class="fa fa-trash"></i>	
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>
</div>
<div style="backgroung-color:#f5f5f5">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					View library Fine
				</div>
				<div class="card-block">
					<div class="no-more-tables">
						<table class="table table-bordered table-striped mb-0">
							<thead>
								<tr>
									<th>
										Late Fees Submission fine
									</th>
									<th>
										mode of Fine
									</th>
									<th>
										Book loss fine 
									</th>
									<th>
										Action
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td data-title="Fine">
										late fine
									</td>
									<td data-tltle="mode">
										per week
									</td>
									<td data-title="Fine">
										lost Fine
									</td>
									<td data-title="Action">
										<button type="button"
										class="btn btn-success pointer"
										><i class="fa fa-eye"></i>	
									</button>
									<button type="button"
									class="btn btn-danger pointer"
									><i class="fa fa-trash"></i>	
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</div>
</div>