<div class="row">
  <div class="col-md-12">
    <button class="btn pull-left card pointer"
            [routerLink]="['/school/admin/staff/csv']">
      Add CSV
    </button>
    <button class="btn pull-right card pointer"
            [routerLink]="['/school/admin/staff/add']">
      Add New Staff
    </button>
  </div>
  <div class="col-md-12">
    <div class="card" *ngIf="toShowData.length">
      <div class="card-header">
        All Staffs
      </div>
      <div class="card-block">
        <input
          type="text"
          class="form-control mb-3"
          [(ngModel)]="searchString"
          placeholder="Type to filter the name column..."
          (ngModelChange)='search($event)'>
        <div class="no-more-tables">
          <table class="table table-bordered table-striped mb-0">
            <thead>
            <tr>
              <th>
                #
              </th>
              <th>
                Name
              </th>
              <th>
                Type
              </th>
              <th>
                Gender
              </th>
              <th>
                Contact
              </th>
              <th>
                UserName
              </th>
              <th>
                Action
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let staff of toShowData; let i=index; ">
              <td data-title="#">
                {{i+1}}
              </td>
              <td data-title="Name">
                {{staff.name}}
              </td>
              <td data-title="Type">
                {{staff.type}}
              </td>
              <td data-title="Gender">
                {{staff.gender}}
              </td>
              <td data-title="Contact">
                {{staff.emergencyContactNo}}
              </td>
              <td data-title="userName">
                {{staff.userName}}
              </td>
              <td data-title="Action">
                <button
                  type="button"
                  class="btn btn-success pointer"
                  [routerLink]="['/school/admin/staff/edit' , staff._id]"
                  placement="top"
                  ngbTooltip="Edit Staff">
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  type="button"
                  (click)="changePassword(staff , changePasswordModal)"
                  class="btn btn-info pointer"
                  placement="top"
                  ngbTooltip="Change Password">
                  <i class="fa fa-eject"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-danger pointer"
                  placement="top"
                  (click)="delete(staff , i, deleteModal)"
                  ngbTooltip="Delete Session">
                  <i class="fa fa-remove"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #deleteModal let-submit="close" let-dismiss="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Delete {{nameToDelete}}!</h6>
    <button type="button" class="close" aria-label="Close" (click)="dismiss('clicking on cross!')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete <b>{{nameToDelete}}</b> session?</p>
  </div>
  <div class="modal-footer" style="display: block;">
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="submit('yes')">Yes!
    </button>
    <button type="button" class="btn btn-outline-success pull-right" (click)="submit('cancel')">Cancel</button>
  </div>
</ng-template>
<ng-template #changePasswordModal let-submit="close" let-dismiss="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Change Password of {{nameToChange}}!</h6>
    <button type="button" class="close" aria-label="Close" (click)="dismiss('clicking on cross!')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 form-group">
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          [(ngModel)]="pass"
          placeholder="Password">
      </div>
      <div class="col-md-12 form-group">
        <label>Confirm Password</label>
        <input
          type="password"
          [(ngModel)]="repass"
          class="form-control"
          placeholder="Confirm Password">
      </div>
    </div>
  </div>
  <div class="modal-footer" style="display: block;">
    <button
      type="button"
      class="btn btn-outline-success"
      (click)="submit('yes')">Yes!
    </button>
    <button type="button" class="btn btn-outline-danger pull-right" (click)="submit('cancel')">Cancel</button>
  </div>
</ng-template>
