<!--<div class="card">-->
	<!--<div class="card-header">-->
		<!--<div class="row">-->
			<!--<div class="col-md-4">-->
				<!--<img src="">-->
			<!--</div>-->
			<!--<div class="col-md-8">-->
				<!--<span>{{schoolName}}</span>-->
				<!--<span>{{schoolAddress}}</span>ph:<span>{{phoneNo}}</span>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="card-block">-->
		<!--<div class="row">-->
			<!--<div class="col-md-8">-->
				<!--name:{{name}}-->
				<!--class:{{class}}-->
				<!--D.o.B:{{dateOfBirth}}-->
				<!--F's name:{{fatherName}}-->
				<!--Contact:{{phone}}-->
				<!--Address:{{address}}-->
			<!--</div>-->
			<!--<div class="col-md-4">-->
				<!--session:{{currentSession}}-->
				<!--<img src="">-->
				<!--{{signature}}-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->
