<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header" >
				<b>Messaging</b>
			</div>
			<div class="card-block">
				<div class="row">
					<div class="col-md-2" >
						<div>
							<label class="form-check-label">
								<input type="checkbox" class="form-check-input">
								Teachers
							</label>
						</div>
					</div>

					

					<div class="col-md-2" >
						<div> 
							<label class="form-check-label"> 
								<input type="checkbox" class="form-check-input">
								Accountant
							</label>
						</div>
						
					</div>
					
					<div class="col-md-2" >
						<div> 
							<label class="form-check-label"> 
								<input type="checkbox" class="form-check-input">
								Librarian
							</label>
							
						</div>
					</div>


					<div class="col-md-2" >
						<div> 
							<label class="form-check-label"> 
								<input type="checkbox" class="form-check-input">
								Others
							</label>
						</div>

					</div>

				</div>
			</div>

		</div>

		<div class="card">
			<div class="card-header">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<span>Type Your Message</span>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<select class="form-control" id="lang" >
									<option value="eng">English</option>
									<option value="hin">Hindi</option>
								</select>
								<div class="form-group">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-block">
				<div class="form-group">
					<label for="text">
						Total Characters: <b></b>
					</label>
					<textarea
					class="form-control"
					id="text"
					
					rows="3">
				</textarea>
			</div>
		</div>
	</div>
	<div class="card">

		<div class="card-block" style="display: block">
			<button
			type="submit"

			class="btn btn-success">Send Sms
		</button>
		<button
		type="submit"
		class="btn btn-primary pull-right">
		Web notification
	</button>
</div>
</div>

</div>
</div>