<div class="row">
  <div class="col-md-12">
    <button class="btn pull-right card pointer"
            [routerLink]="['/school/admin/attendance/display']">
      View Attendance
    </button>
  </div>
</div>
<div class="row">
  <div class="col-lg-4" *ngFor="let list of attendanceList; let i = index;">
    <div class="card" [ngClass]="{'card-success':list.toTake, 'card-warning':!list.toTake}">
      <div class="card-block">
        <span *ngIf="list.isSms" class="msg-icon">
          <i class="icon-basic-message-txt"></i>
        </span>
        <h6>Class: {{list.className}}</h6>
        <h6>Total Student: {{list.totalStudents}}</h6>
        <button
          class="btn btn-primary"
          *ngIf="list.toTake"
          (click)="takeAttendance(list)">
          Take Attendance
        </button>

        <button
          *ngIf="!list.toTake"
          class="btn btn-success"
          (click)="viewAttendance(list)">
          View({{list.takenByName}})
        </button>
      </div>
    </div>
  </div>
</div>
