<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        All Schools
      </div>
      <div class="card-block" *ngIf= "schoolList.length ">
        <input
        type="text"
        class="form-control mb-3"
        [(ngModel)]="searchString"
        placeholder="Type to filter the name column..."
        (ngModelChange)='search($event)'>
        <div class="no-more-tables">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>
                  #
                </th>
                <th>
                  School
                </th>
                <th class="numeric">
                  Phone
                </th>
                <th>
                  Board
                </th>
                <th>
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let school of schoolList; let i=index; ">
                <td data-title="#">
                  {{i+1}}
                </td>
                <td data-title="School">
                  <small>{{school.name}}</small>
                </td>
                <td data-title="Phone" class="numeric">
                  {{school.contact.phone[0]}}
                </td>
                <td data-title="Board">
                  {{school.affiliation.board}}
                </td>
               <td class="numeric" data-title="Action">
                  <button
                  type="button"
                  class=" btn btn-success pointer "
                  placement="top"
                  [routerLink]="['/admin/organization/school/edit', school._id]"
                  ngbTooltip="Edit School">
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-danger pointer "
                  placement="top"
                  (click)="delete(school , i, deleteModal)"
                  ngbTooltip="Delete School">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
<ng-template #deleteModal let-submit="close" let-dismiss="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Delete {{nameToDelete}}!</h6>
    <button type="button" class="close" aria-label="Close" (click)="dismiss('clicking on cross!')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete <b>{{nameToDelete}}</b>?</p>
  </div>
  <div class="modal-footer" style="display: block;">
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="submit('yes')">Yes!
    </button>
    <button type="button" class="btn btn-outline-success pull-right" (click)="submit('cancel')">Cancel</button>
  </div>
</ng-template>

