<ngb-tabset #t="ngbTabset">
  <ngb-tab id="addTab" >
    <ng-template ngbTabTitle>Add Late Fee's</ng-template>
    <ng-template ngbTabContent>
      <app-school-admin-master-entry-late-fees-add>
        
      </app-school-admin-master-entry-late-fees-add>
    </ng-template>
  </ngb-tab>


  <ngb-tab id="viewTab">
    <ng-template ngbTabTitle>View Late Fee's</ng-template>
    <ng-template ngbTabContent><app-school-admin-master-entry-late-fees-view>
      
    </app-school-admin-master-entry-late-fees-view>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
   