.body {
  background-color: whitesmoke;
  margin-top: -16px;
}

.card-block {
  font-size: 15px;
  width: 100%;
}

.container-fluid {
  margin: 10px;
  padding: 20px;
}

.cardheight {
  height: 250px;
}

.text-feature {
  font-size: 15px;
  margin: 20px;
}

.iconstyle {
  color: #3d7dca;
  text-align: center;
  font-size: 40px;
}

.modify {
  text-align: center;
}

.card-footer {
  height: 200px;
  width: 100%;
  background-color: whitesmoke;
  margin-left: 100px;
}
