<div class="body">
  <!--<div class="container-fluid">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        <!--<div class="headings">-->
          <!--<h1>OUR MISSION</h1>-->
          <!--</div>-->
          <!--<div class="card">-->
            <!--<div class="card-block">-->
              <!--Empowering education system by engaging and educating educators with technology.-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <div class="container-fluid">
                <div class="card">
                  <div class="card-block">
                    INFORIDA is a Cloud-based Smart Attendance & School Management System for Schools, Colleges, and Coaching
                    Institutes to monitor daily attendance of students, track their educational outputs and provide assistant and
                    guidelines for better education. It helps in tracking attendance records, monitor and manage teaching staffs,
                    and also provide a better tool for school engagement. Our main focus is to have a clear picture of each
                    student's educational journey and assist them in their areas of interest for a better future. Giving an
                    effective and powerful tool to passionate educators to provide a better learning environment for learners at
                    their institute.
                  </div>
                </div>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="card text-center cardheight">
                      <div class="card-header" style="margin: auto;">
                        <i class="iconstyle  fa fa-cloud"></i>
                      </div>
                      <div class="card-body">
                        <h5>Cloud Based</h5>
                      </div>
                      <div class="card-block">
                        <p class="text-justify text-feature">INFORIDA is a cloud based ERP accessible from any digital device such
                          as
                          mobile, tablet or personal computer.
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="card text-center cardheight">
                      <div class="card-header" style="margin: auto;">
                        <i class="iconstyle fa fa-user"></i>
                      </div>
                      <div class="card-body">
                        <h5>No Technical Staff Required</h5>
                      </div>
                      <div class="card-block">
                        <p class="text-justify text-feature">An innovative and adaptable user interface which becomes part of your
                          daily routine and required no other technical staff to manage your institutes's activities.
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="card text-center cardheight">
                      <div class="card-header" style="margin: auto;">
                        <i class="iconstyle  fa fa-handshake-o"></i>
                      </div>
                      <div class="card-body">
                        <h5>24 x 7 Supports</h5>
                      </div>
                      <div class="card-block">
                        <p class="text-justify text-feature">Our dedicated and passionate tech support team is always available to
                          help you in all ways possible to solve your query at the earliest.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
