<div class="body">
  <div class="container-fluid">
    <div class="card" style="margin-top: 36px;">
      <div class="card-block">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.6791520365323!2d80.92984601463537!3d26.8819330831408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3999562801c9db35%3A0xeac11d8ec2af80ea!2sInforida!5e0!3m2!1sen!2sin!4v1518116220201"
          frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div style="padding-bottom: 3rem;">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-md-4 mt-auto mb-auto">
              <span class="card-title1">Head Office :</span><br>
              UGF-1, Tarun Market , DaliGanj, Sitapur Road,<br>
              Lucknow ,U.P.<br>
            </div>
            <div class="col-md-4 mt-auto mb-auto textcenter">
              <span class="card-title1">Customer Care No. :</span><br> 9616171800<br>
              <span class="card-title1">Email :</span><br> info@inforida.com
            </div>
            <div class="col-md-4 mt-auto mb-auto textright">
              <span class="card-title1">Corporate Office :</span><br> E-96, Balwant Nagar,<br> Gwalior M.P.<br>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

