


 <ngb-tabset #t="ngbTabset">
  <ngb-tab id="addTab" >
    <ng-template ngbTabTitle>Shared</ng-template>
    <ng-template ngbTabContent>
    
      <app-school-librarian-drive-view-shared></app-school-librarian-drive-view-shared>
      
    </ng-template>
  </ngb-tab>


  <ngb-tab id="viewTab">
    <ng-template ngbTabTitle>My Files</ng-template>
    <ng-template ngbTabContent>
    
      <app-school-librarian-drive-view-my-files></app-school-librarian-drive-view-my-files>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
    