.draft {
  background-color: rgba(206, 207, 69, 0.57);
}

.holiday {
  background-color: rgba(255, 88, 31, 0.48);
}

.menu-icon {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 15px 5px;
  cursor: pointer;
}

/deep/ .popover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  //transition: all 0.6s cubic-bezier(.25, .8, .25, 1);
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 0px !important;
}

.btn-pop {
  background: white;
  padding: 4px 20px !important;
  cursor: pointer;
  /* border-bottom: solid; */
  font-size: 17px;
  font-weight: bolder;
}

/deep/ .popover:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(0, 0, 0, 0.22);
}

/deep/ .popover.popover-bottom, .popover.bs-tether-element-attached-top {
  margin: 0px !important;
  border-radius: 1px;
}

/deep/ .popover-content {
  padding: 2px;
}

/deep/ .popover::before, .popover::after {
  border-style: none;
}

/deep/ .popover.popover-left::after, .popover.bs-tether-element-attached-right::after {
  border-left-color: transparent;
}

/deep/ .popover.popover-left, .popover.bs-tether-element-attached-right {
  margin-left: 0px;
  margin-top: 30px;
}

.btn-pop {
  background: white;
  padding: 4px 15px !important;
  cursor: pointer;
}

.btn-pop:hover {
  background-color: #506dff;
  color: white;
}
