<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        Basic Information
      </div>
      <div class="card-block">
        <div class="form-group">
          <label>
            Teacher's Name
            <span style="color: red">*</span>
          </label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="teacherData.name"
            placeholder="Enter Teacher's Name" required>
          <small class="form-text text-muted">
            Complete Name of the teacher.
          </small>
        </div>
        <div class="form-group">
          <label>
            Gender
          </label>
          <select
            class="form-control"
            [(ngModel)]="teacherData.gender">
            <option value="m">M</option>
            <option value="f">F</option>
            <option value="o">Other</option>
          </select>
          <small class="form-text text-muted">
            Select gender from dropdown.
          </small>
        </div>
        <div class="form-group">
          <label>
            Aadhaar Id
            <span style="color: green">
              <small>recommended</small>
            </span>
          </label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="teacherData.aadhaarId"
            placeholder="Enter Teacher's Aadhaar Id" required>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Address Information
      </div>
      <div class="card-block">
        <div class="form-group">
          <label>
            Pin Code
          </label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Pin Code"
            [(ngModel)]="teacherData.address.pin"
            maxlength="6"
            (ngModelChange)="getDetailsFromPin($event)"
            required>
        </div>
        <div class="form-group">
          <label>
            Village/Locality
          </label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="teacherData.address.village"
            placeholder="Enter Village/Locality" required>
        </div>
        <div class="form-group">
          <label>
            Block
          </label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="teacherData.address.block"
            placeholder="Enter Block">
        </div>
        <div class="form-group">
          <label>
            District
          </label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="teacherData.address.district"
            placeholder="Enter District">
        </div>
        <div class="form-group">
          <label>
            State
          </label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="teacherData.address.state"
            placeholder="Enter State">
        </div>
        <div class="form-group">
          <label>
            Complete Address
          </label>
          <textarea
            class="form-control"
            [(ngModel)]="teacherData.address.completeAddress"
            rows="3">Complete Address</textarea>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Contact Info
      </div>
      <div class="card-block">
        <div class="form-group"
             *ngFor="let phone of teacherData.contact.phone; let i= index; trackBy:customTrackBy;">
          <label>
            Phone Number
            <span *ngIf="i === 0" style="color: red;">*</span>
            <span *ngIf="i > 0"> {{i+1}}</span>
          </label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Phone Number"
            [(ngModel)]="teacherData.contact.phone[i]"
          >
        </div>
        <div class="form-group">
          <button
            class="btn btn-secondary pointer"
            (click)="addPhone()">
            Add More Phone(s)
          </button>
        </div>
        <div class="form-group" *ngFor="let email of teacherData.contact.email; let i= index; trackBy:customTrackBy;">
          <label>
            Email Address
            <span *ngIf="i > 0">{{i+1}}</span>
          </label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter Email Address"
            [(ngModel)]="teacherData.contact.email[i]">
        </div>
        <div class="form-group">
          <button
            class="btn btn-secondary pointer"
            (click)="addEmail()">
            Add More Email Address(es)
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Medical Information
      </div>
      <div class="card-block">
        <div class="form-group">
          <label>
            Blood Group
            <span style="color: green">
              <small>recommended</small>
            </span>
          </label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="teacherData.bloodGroup"
            placeholder="Enter Student's Blood Group">
          <small>Required for medical emergency.</small>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Login Info
      </div>
      <div class="card-block">
        <div class="form-group">
          <label>
            Username
            <span style="color: red">*</span>
          </label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="teacherData.username"
            placeholder="Enter School Username" required>
        </div>
        <div class="form-group">
          <label>
            Password
            <span style="color: red">*</span>
          </label>
          <input
            type="password"
            class="form-control"
            [(ngModel)]="teacherData.password"
            placeholder="Enter School Password">
        </div>
        <div class="form-group">
          <label>
            Confirm Password
            <span style="color: red">*</span>
          </label>
          <input
            type="password"
            class="form-control"
            [(ngModel)]="confirmPass"
            placeholder="Enter School Password">
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <span style="color: red"> * </span> &nbsp;&nbsp;
        Required Feilds
      </div>
      <div class="card-block">
        <button
          type="submit"
          class="btn btn-primary"
          (click)="submitTeacher()"
          [disabled]="isDisable===true">Submit
        </button>
      </div>
    </div>

  </div>
</div>
