.headings h1 {
  color: #3d7cca;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  margin-top: 10px;

}
.conditions{
	font-weight:bold;
	font-size : 16px;
	padding-top: 14px;
	padding-bottom:8px
}