<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-block">
        <div class="form-group">
          <label>
            Admission No. Starting
          </label>
          <input type="number"
                 class="form-control"
                 [(ngModel)]="settingsData.admissionNo"
                 placeholder="Enter Admission no Starting From">
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <button class="btn btn-primary"
                (click)="SettingSave()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
