<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-block">
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="form-check">
              <label>
                Default Language: &nbsp;&nbsp;&nbsp;&nbsp;
              </label>
              <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">English</span>
              </label>
              <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Hindi</span>
              </label>
            </div>
          </div>
          <div class="col-md-12 mb-2">
            <div class="form-check">
              <label>
                Send text SMS to parents at the time of admission: &nbsp;&nbsp;&nbsp;&nbsp;
              </label>
              <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Yes	</span>
              </label>
              <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">No</span>
              </label>
            </div>
          </div>
          <div class="col-md-12 mb-2">
            <div class="form-check">
              <label>
                Send text SMS to parents at the time of Fee Payment : &nbsp;&nbsp;&nbsp;&nbsp;
              </label>
              <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Yes</span>
              </label>
              <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">No</span>
              </label>
            </div>
          </div>
          <div class="col-md-12 mb-2">
            <div class="form-check">
              <label>
                Send text SMS for Birthday Wish: &nbsp;&nbsp;&nbsp;&nbsp;
              </label>
              <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Yes</span>
              </label>
              <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">No</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <button class="btn btn-primary"
                (click)="settingSave()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
