<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Homework
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>
                Select Class
              </label>
              <select [(ngModel)]="homeworkData.classId" class="form-control">
                <option *ngFor="let cls of classData;" value="{{cls._id}}">
                  {{cls.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>
                Subject
              </label>
              <select [(ngModel)]="homeworkData.subjectId" class="form-control">
                <option *ngFor="let subject of subjectData;" value="{{subject._id}}">
                  {{subject.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>
                Write Homework
              </label>
              <textarea class="form-control" rows="5" [(ngModel)]="homeworkData.homeworkText">
              </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <button type="button"
                (click)="editHomework()"
                class="btn btn-primary"
                [disabled]="isDisable===true">SUBMIT
        </button>
      </div>
    </div>
  </div>
</div>

