<div class="body">
  <div class="headings">
    <h1>Features</h1>
  </div>
  <div class="container-fluid">
    <div style="padding-bottom: 3rem;">
      <div class="row" style=" text-align: center;">

        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="card cardheight">
            <div class="card-body">
              <div class="modify">
                <div class="iconsize">
                  <i class="iconstyle  fa fa-list-alt" style="font-size: 40px" aria-hidden="true"></i>
                </div>
                <h4>Student Registration</h4>
                <p class="text-justify text-feature" style="margin-top: 28px;">Manage Students registration and keep
                  an
                  eye at admission progress any time anywhere. </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card cardheight">
            <div class="card-body">
              <div class="modify">
                <div class="iconsize">
                  <i class="iconstyle fa fa-map " style="font-size: 40px; "
                     aria-hidden="true"></i>
                </div>
                <h4>Time Table</h4>
                <p class="text-justify text-feature" style="margin-top: 28px;">Use our simple solution to manage your
                  teaching staff’s schedule and keep them engaged in educational activities.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card cardheight">
            <div class="card-body">
              <div class="modify">
                <div class="iconsize">
                  <i class="iconstyle fa fa-list-alt " style="font-size: 40px; " aria-hidden="true"></i>
                </div>
                <h5>Attendence Tracking</h5>
                <p class="text-justify text-feature" style="margin-top: 28px;">Enjoy a simple and innovative way of
                  taking attendance of
                  Students and Staff digitally.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card cardheight">
            <div class="card-body">
              <div class="modify">
                <div class="iconsize">
                  <i class="iconstyle fa fa-rupee" style="font-size: 40px; " aria-hidden="true"></i>
                </div>
                <h5>Fee And Expenses Management</h5>
                <p class="text-justify text-feature">Collect Fees and manage expenses of your institution. Send
                  reminders about dues to parents. </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card cardheight">
            <div class="card-body">
              <div class="modify">
                <div class="iconsize">
                  <i class="iconstyle fa fa-book " style="font-size: 40px; " aria-hidden="true"></i>
                </div>
                <h5>Library Management</h5>
                <p class="text-justify text-feature" style="margin-top: 13px;">List and manage books and issue it to
                  students online. Keep track of all books and manage fine. </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card cardheight">
            <div class="card-body">
              <div class="modify">
                <div class="iconsize">
                  <i class=" iconstyle fa fa-list-alt" style="font-size: 40px" aria-hidden="true"></i>
                </div>
                <h5>Notice Board</h5>
                <p class="text-justify text-feature">An easy way to communicate with parents, students & staff and
                  keep
                  them updated about upcoming events and necessary information. </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card cardheight">
            <div class="card-body">
              <div class="modify">
                <div class="iconsize">
                  <i class="iconstyle  fa fa-folder" style="font-size: 40px" aria-hidden="true"></i>
                </div>
                <h5>E-Drive</h5>
                <p class="text-justify text-feature">Share documents and files between staff, students & parents.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card cardheight">
            <div class="card-body">
              <div class="modify">
                <div class="iconsize">
                  <i class="iconstyle  fa fa-handshake-o" style="font-size: 40px" aria-hidden="true"></i>
                </div>
                <h5>School CRM</h5>
                <p class="text-justify text-feature">Stay in touch with current and previous students & parents and
                  keep
                  them engaged with social content feeds.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card cardheight">
            <div class="card-body">
              <div class="modify">
                <div class="iconsize">
                  <i class="iconstyle  fa fa-cloud-download" style="font-size: 40px" aria-hidden="true"></i>
                </div>
                <h5>Academic Management</h5>
                <p class="text-justify text-feature">Send and Receive documents and give feedback to students by
                  using our Class Drive Solution.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card cardheight">
            <div class="card-body">
              <div class="modify">
                <div class="iconsize">
                  <i class=" iconstyle fa fa-envelope" style="font-size: 40px" aria-hidden="true"></i>
                </div>
                <h5>Notifications & Alerts</h5>
                <p class="text-justify text-feature" style="margin-top: 28px;"> Send Text SMS and Web Notifications
                  with
                  Teacher – Parent –
                  Students to stay updated.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card cardheight">
            <div class="card-body">
              <div class="modify">
                <div class="iconsize">
                  <i class="iconstyle  fa fa-envelope" style="font-size: 40px" aria-hidden="true"></i>
                </div>
                <h5>Report Management</h5>
                <p class="text-justify text-feature" style="margin-top: 28px;">Collect and manage fees and send
                  reminders to parents
                  regarding dues by using Fee Manager.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card cardheight">
            <div class="card-body">
              <div class="modify">
                <div class="iconsize">
                  <i class="iconstyle fa fa-group" style="font-size: 40px; " aria-hidden="true"></i>
                </div>
                <h5>Transport Management</h5>
                <p class="text-justify text-feature">Enjoy a simple and innovative way of taking attendance of
                  Students and Staff.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

