.body {
  background-color: whitesmoke;
  margin-top: -16px;
}

.card-support {
  background-color: #f2f2f2 !important;
}

.card-header {
  text-transform: none;
  text-align: center;
  display: block;
  color: #3e7dca;
}

.card-header h4 {
  font-size: 36px;
  padding: 10px;
  margin: 18px;
}

.cardheight {
  height: 200px;
}

h2 {
  margin: 0;
  color: #666;
  padding-top: 90px;
  font-size: 52px;
  font-family: "trebuchet ms", sans-serif;
}

.row .col-md-3 img {
  width: 100px;
  height: 100px;
}

.row .feature_text p {
  font-weight: bolder;
  font-family: serif, sans-serif, monospace;

}

.row .col-md-4 img {
  width: 100px;
  height: 100px;
}

.row .col-md-12 img {
  width: 100px;
  height: 100px;
}

.features-heading > h4 {
  font-size: 36px;
  text-align: center;
  padding: 10px;
  margin: 18px;

}

.icon-size {
  height: 50px;
}

.text-feature {
  font-size: 15px;
}

.iconstyle {
  color: #3d7dca;
}

.modify {
  width: 100%;
  padding: 10px;

}

.headings h1 {
  color: #3d7cca;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  margin-top: 10px;

}
