<div class="body">
  <div class="container">
    <div class="row mar">
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <img class="card-img img-fluid" src="assets/images/school logo/us college.jpg" alt="Card image"/>
          <div class="card-img-overlays">
            <h5 class="card-title clients-pic-heading">

            </h5>
            <p class="card-text clients-pic-text">

            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card">
          <img class="card-img img-fluid" src="assets/images/school logo/SVMUPB CBSE Board Logo.png"
               alt="Card image"/>
          <div class="card-img-overlays">
            <h5 class="card-title">

            </h5>
            <p class="card-text">

            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <img class="card-img img-fluid" src="assets/images/school logo/svm lkp upboard.png" alt="Card image"/>
          <div class="card-img-overlays">
            <h5 class="card-title">

            </h5>
            <p class="card-text">

            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <img class="card-img img-fluid" src="assets/images/school logo/shristi IAS.png" alt="Card image"/>
          <div class="card-img-overlays">
            <h5 class="card-title">

            </h5>
            <p class="card-text">

            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mar">
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <img class="card-img img-fluid" src="assets/images/school logo/mkd om.png" alt="Card image"/>
          <div class="card-img-overlays">
            <h5 class="card-title clients-pic-heading">

            </h5>
            <p class="card-text clients-pic-text">

            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card">
          <img class="card-img img-fluid" src="assets/images/school logo/indian academy logo.png" alt="Card image"/>
          <div class="card-img-overlays">
            <h5 class="card-title">

            </h5>
            <p class="card-text">

            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <img class="card-img img-fluid" src="assets/images/school logo/shishu mandir.png" alt="Card image"/>
          <div class="card-img-overlays">
            <h5 class="card-title">

            </h5>
            <p class="card-text">

            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <img class="card-img img-fluid" src="assets/images/school logo/sainik.jpg" alt="Card image"/>
          <div class="card-img-overlays">
            <h5 class="card-title">

            </h5>
            <p class="card-text">

            </p>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
