.body {
  background-color: whitesmoke;
  margin-top: -16px;
  padding-top: 50px;
}

.bg-img {
  background: linear-gradient(to right, #ff6a00, #ee0979);

}

.navbar-brand img {
  height: 50px;
  float: left;
  margin: 10px;
}

.landing-header {
  padding-top: 0rem;
  padding-bottom: 0rem;

}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  font-size: 16px !important;
  transition: all ease 0.1s;
}

.navbar ul {
  float: right;
}

.navbar-brand {
  font-weight: bold;
  color: white;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

#heading-client {
  font-size: 36px;
  text-align: center;
  padding: 10px;
  margin: 18px;
}

.card-img-overlays {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .5rem;
}

.mar {
  margin-bottom: 3%;
}

#backto-home {
  padding: 1rem;
}

.view-button {
  display: table;
  margin: auto;
}

.bg-fimg {
  background-color: #000508;

}

.card img {
  width: 180px;
  height: 180px;

}

.card {
  text-align: -webkit-center;
}






