<ngb-tabset #t="ngbTabset">
  <!-- <ngb-tab id="Session" >
        <ng-template ngbTabTitle>Session Setting</ng-template>
        <ng-template ngbTabContent>
            <app-school-admin-settings-session>

            </app-school-admin-settings-session>
        </ng-template>
    </ngb-tab> -->

  <!--<ngb-tab id="admission">-->
    <!--<ng-template ngbTabTitle>Admission</ng-template>-->
    <!--<ng-template ngbTabContent>-->
      <!--<app-school-admin-settings-student>-->

      <!--</app-school-admin-settings-student>-->
    <!--</ng-template>-->
  <!--</ngb-tab>-->
  <ngb-tab id="school">
    <ng-template ngbTabTitle>School</ng-template>
    <ng-template ngbTabContent>
      <app-school-admin-settings-school>

      </app-school-admin-settings-school>
    </ng-template>
  </ngb-tab>


  <!--<ngb-tab id="messaging">-->
    <!--<ng-template ngbTabTitle>Messaging</ng-template>-->
    <!--<ng-template ngbTabContent>-->
      <!--<app-school-admin-settings-messaging>-->

      <!--</app-school-admin-settings-messaging>-->
    <!--</ng-template>-->
  <!--</ngb-tab>-->

  <ngb-tab id="attendance">
    <ng-template ngbTabTitle>Attendance</ng-template>
    <ng-template ngbTabContent>
      <app-school-admin-settings-attendance>

      </app-school-admin-settings-attendance>
    </ng-template>
  </ngb-tab>

  <!-- <ngb-tab id="notice">
        <ng-template ngbTabTitle>Notice Setting</ng-template>
        <ng-template ngbTabContent>
            <app-school-admin-settings-notice>

            </app-school-admin-settings-notice>
        </ng-template>
    </ngb-tab> -->

  <ngb-tab id="fee">
    <ng-template ngbTabTitle>Fees</ng-template>
    <ng-template ngbTabContent>
      <app-school-admin-settings-fees>

      </app-school-admin-settings-fees>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="exam">
    <ng-template ngbTabTitle>Exam</ng-template>
    <ng-template ngbTabContent>
      <app-school-admin-settings-examination>

      </app-school-admin-settings-examination>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="password">
    <ng-template ngbTabTitle>Password</ng-template>
    <ng-template ngbTabContent>
      <app-school-admin-settings-password>

      </app-school-admin-settings-password>
    </ng-template>
  </ngb-tab>

  <!-- <ngb-tab id="library">
        <ng-template ngbTabTitle>Library Setting</ng-template>
        <ng-template ngbTabContent>
            <app-school-admin-settings-library>

            </app-school-admin-settings-library>
        </ng-template>
    </ngb-tab> -->
</ngb-tabset>
